<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid design 1</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <div class="container">
        <header>
            <h2>Web Diary</h2>
        </header>
        <div class="wrapper">
            <div class="item item1"><img src="/images/image1.jpg" alt=""></div>
            <div class="item item2"><img src="/images/image2.jpg" alt=""></div>
            <div class="item item3"><img src="/images/image3.jpg" alt=""></div>
            <div class="item item4"><img src="/images/image4.jpg" alt=""></div>
            <div class="item item5"><img src="/images/image5.jpg" alt=""></div>
            <div class="item item6"><img src="/images/image6.jpg" alt=""></div>
        </div>
    </div>
</body>
</html>