<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid design 2</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <div class="container">
        <header>
            <h2>Web Diary</h2>
        </header>

        <div class="wrapper">
            <div class="item item1">
                <h3>Nature</h3>
                <p>Nature, in the broadest sense is the natural , physical or material world or universe. "Nature" can refer to the phenomena of the physical world and also to the life in general</p>
                <p>The word nature is derived from the latin word natura or 'essential qualities innate disposition", and in ancient philosophy, Natura is most used as the latin  translation of the Greek word physics ,which is originallt related to the intrinsic characteristics that plants, animals and other features </p>
            </div>
            <div class="item item2"><img src="/images/image2.jpg" alt=""></div>
            <div class="item item3"><img src="/images/image3.jpg" alt=""></div>
            <div class="item item4"><img src="/images/image4.jpg" alt=""></div>
            <div class="item item5"><img src="/images/image5.jpg" alt=""></div>
            <div class="item item6"><img src="/images/image6.jpg" alt=""></div>
        </div>
    </div>
</body>
</html>